/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

.unique-title{
  font-family: 'Snell Roundhand'
}

.other-title{
  /* font-family: 'URW Chancery L'; */
  font-family: Papyrus;
}

.food-title{
  font-weight: 1000;
  font-family: 'papyrus';
}

.food-description{
  font-weight: light;
  font-style: italic;
  font-family: 'papyrus';

}

.food-price{
  font-weight: 600;
  display: flex;
  text-align: center;
  font-family: 'URW Chancery L';
}

.my-image{
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10%;

}

/* .btn{
  border-radius: 50%;
  color:black;
} */